---
layout: default
---

<div id="blog-index" class="row">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    {% include article.html %}
  {% endfor %}

  <div class="span7 offset1">
    {% if paginator.next_page %}
      <a href="/page{{paginator.next_page}}">&larr; Más antiguos</a>
    {% endif %}
    |
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="/">Más  recientes&rarr;</a>
      {% else %}
      <a class="next" href="/page{{paginator.previous_page}}">Más  recientes&rarr;</a>
      {% endif %}
    {% endif %}
  </div>


</div>
